<%
var title = 'Oraclix - Ask the Oracle whatever you want!';
var metaDescription = 'Ask a question to the Oracle and get a fast answer. In turn, you will have to answer questions from the Oracle to stay in it\'s favor.';
var keywords = 'oracle,answers,questions,oraclix,coin,toss,42';
%>

<% include partials/header %>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/info.css">
<script src="/js/index.js"></script>

<div class="container" id="indexHeader">
  <div class="row justify-content-center" style="min-height:85vh;">
    <div class="col-lg-6 my-auto text-center">
      <h1 class="text-center text-white"><small>Have a question?</small><br /> <b>Ask <i class="text-warning"> Oraclix</i>!</b></h1>
      <h4 class=" text-center text-muted">And get a <b><i>fast and unpredictable response</i></b>.</h4>
      <br />
      <a href="<%= config.discordBotInvite %>" target="_blank" style="width:40%;" class="btn btn-lg btn-warning">Invite Discord Bot</a>
      <a href="/discordCommands" style="width:40%;" class="btn btn-lg btn-warning">Show Commands</a>
    </div>
  </div>
</div>
<br />

<div id="useCaseBox">
  <br /><br /><br />
  <div class="container">
    <h1 class="text-white text-center">How to use</h1>
    <br /><br />
    <div class="row">
      <div class="col-md-6">
        <div class="media">
          <span class="media-left">
            <img src="/img/index/discord.png" style="width:80%;">
          </span>
          <div class="media-body my-auto">

            <h5 class="text-warning">Discord Bot</h5>
            <p class="text-muted">
                Use the discord bot to send your questions to the Oracle. Invite the bot to your server and use the '???' command to start getting answers right away.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media">
          <span class="media-left">
            <img src="/img/index/world.png" style="width:80%;">
          </span>
          <div class="media-body my-auto">
            <h5 class="text-warning">Web - Coming soon!</h5>
            <p class="text-muted">
                You will soon be able to also use our web client to interact with the Oracle. Login, ask, answer and view questions directly through your browser. </p>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>

<div id="useCaseBox">
  <br /><br /><br />
  <div class="container">
    <h1 class="text-white text-center">How it works</h1>
    <br /><br />
    <div class="row">
      <div class="col-md-6">
        <div class="media">
          <span class="media-left text-center">
            <i style="font-size:6em;" class="text-info fas fa-sync-alt"></i>
          </span>
          <div class="media-body my-auto">
            <h5 class="text-warning">Ask and answer</h5>
            <p class="text-muted">
              You send your question to Oraclix and will receive back an answer. In turn, you have to also answer it's questions.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media">
          <span class="media-left text-center">
            <i style="font-size:6em;" class="text-success fas fa-dice"></i>
          </span>
          <div class="media-body my-auto">

            <h5 class="text-warning">Random and anoymous</h5>
            <p class="text-muted">
                What question or answers you will get is completely random and all of them are masked by an id.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media">
          <span class="media-left text-center">
            <i style="font-size:6em;" class="fas fa-coins text-warning"></i>
          </span>
          <div class="media-body my-auto">

            <h5 class="text-warning">Favor</h5>
            <p class="text-muted">
                Asking a question costs you <b>favor</b>. To gain <b>favor</b> you have to answer a question.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media">
          <span class="media-left text-center">
            <i style="font-size:6em;" class="fas fa-flag text-danger"></i>
          </span>
          <div class="media-body my-auto">

            <h5 class="text-warning">Report</h5>
            <p class="text-muted">
              You can report questions and answers that are against ToS or answers that are unrelated to the question.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
    <br /><br /><br />
  </div>
</div>

<br /> <br />
<div class="text-center">
<p><cite title="Source Title">The Oracle has spoken.</cite></p>
<small></small>
<br />
</div>



<% include partials/footer %>
