<%
var title = 'Ask the Universe - Seek and find answers and signs from the Universe and Cosmos.';
var metaDescription = 'Manage, filter, organize your push notifications for mobile and desktop. Make push notifications interesting and useful by filtering your favorite social media channels.';
var keywords = 'push notification, filter, interesting, useful, deactivate, disable, turn off, deinstall';
%>

<% include partials/header %>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/info.css">
<script src="/js/index.js"></script>

<div class="container" id="indexHeader">
  <div class="row justify-content-center" style="min-height:85vh;">
    <div class="col-lg-6 my-auto text-center">
      <h1 class="text-center text-white"><small>Have a question? Unsure about a decision?</small><br /> <b><i>Ask the Universe!</i></b></h1>
      <h4 class="text-muted text-center">Send your questions to the universe and expect a <b><i>fast but unpredictable response</i></b> from real characters. <br /><br />In return, you have to give back the same - become a <b><i>character of the universe</i></b> yourself and answer it's questions.</h4>
      <br />
      <a href="https://discordapp.com/oauth2/authorize?client_id=534589798267224065&permissions=2114448593&scope=bot" target="_blank" style="width:50%;" class="btn btn-lg btn-success">Invite Bot</a>
    </div>
  </div>
</div>
<br />

<div id="useCaseBox">
  <br /><br /><br />
  <div class="container">
    <h1 class="text-white text-center">How to use?</h1>
    <br /><br />
    <div class="row">
      <div class="col-md-6">
        <div class="media">
          <span class="media-left">
            <img src="/img/index/discord.png" style="width:100%;">
          </span>
          <div class="media-body my-auto">

            <h5 class="text-white">Discord Bot</h5>
            <p class="text-muted">
                Use our discord bot to connect you and your questions to the universe. Send your question in a server or per direct message and receive the answers back right there, as soon as they are ready.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="media">
          <span class="media-left">
            <img src="/img/index/world.png" style="width:100%;">
          </span>
          <div class="media-body my-auto">
            <h5 class="text-white">Web - Coming soon!</h5>
            <p class="text-muted">
                You will soon be able to also use our webclient to interact with the universe. Login, ask, answer and view questions directly through your browser. Discord Bot and Webclient connect to the same universe. </p>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br /><br /><br />
  </div>
</div>
<div id="supportedBox">
  <div class="container-fluid">
    <div class="row">

      <div class=" col-lg-6 col-md-8 col-sm-12 py-5 mx-auto">
        <div class="container">
          <h1 class="text-center text-dark">How the universe works.</h1>
          <h5 class="text-center text-dark">You give and take.</h5>
          <br />
          <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-2">
              <i style="color:#1da1f2;font-size:3em;" class="fas fa-universal-access"></i>
            </div>
            <div class="col-5">
              <h5 class="text-dark">Be part of the universe.</h5>
              <p class="text-muted">
                You have to answer questions in order to ask new question. This way you help the universe with all its questions.<br /><br />
              </p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-2">
              <i style="color:#ff4500;font-size:3em;" class="fas fa-reply-all"></i>
            </div>
            <div class="col-5">
              <h5 class="text-dark">Expect a fast response from the universe.</h5>
              <p class="text-muted">
                Because the whole universe focuses on answering the least recent questions, your question will be answered fast and in forseeable time.<br /><br />
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 px-0 py-5" id="supportedBoxPic">
        <!--img class="mt-auto mb-auto" src="img/app-promo/iphone-app-screenshot.png" alt="App Screenshot - Shards App Promo Demo Page"-->
      </div>
    </div>
  </div>
</div>



<div id="howToBox">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 px-0 py-5" id="howToBoxPic">
        <!--img class="mt-auto mb-auto" src="img/app-promo/iphone-app-screenshot.png" alt="App Screenshot - Shards App Promo Demo Page"-->
      </div>

      <!-- App Features Wrapper -->
      <div class=" col-lg-6 col-md-8 col-sm-12 py-5 mx-auto">
        <div class="container">
          <h1 class="text-center text-dark">How the universe decides.</h1>
          <h5 class="text-center text-dark">It is unpredictable.</h5>
          <br />
          <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-2">
              <i style="font-size:2.7em;color:#4587F3;" class="fas fa-dice"></i>
            </div>
            <div class="col-5">
              <h5 class="text-dark">Random connections</h5>
              <p class="text-muted">
                You will receive questions from anyone and have your questions answered by anyone.
              </p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-2">
              <i style="font-size:2.7em;color:#e66000;" class="fas fa-sync-alt"></i>
            </div>
            <div class="col-5">
              <h5 class="text-dark">Changing toll</h5>
              <p class="text-muted">
                The toll you have to pay to ask a question to the universe is constantly changing, dependng on how busy the universe is (how many open questions there currently are).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
