
#newFeedForm {
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5em 1.5em;
  padding-top: 1em;
}

#newFeedBox {
  background-color: #000a14;
  opacity:0.99;
}
