<div id="supportedBox">
  <div class="container-fluid">
    <div class="row">

      <div class=" col-lg-6 col-md-8 col-sm-12 py-5 mx-auto">
        <div class="container">
          <h1 class="text-center text-dark">How the universe works.</h1>
          <h5 class="text-center text-dark">You give and take.</h5>
          <br />
          <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-2">
              <i style="color:#1da1f2;font-size:3em;" class="fas fa-universal-access"></i>
            </div>
            <div class="col-5">
              <h5 class="text-dark">Be part of the universe.</h5>
              <p class="text-muted">
                You have to answer questions in order to ask new question. This way you help the universe with all its questions.<br /><br />
              </p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-2">
              <i style="color:#ff4500;font-size:3em;" class="fas fa-reply-all"></i>
            </div>
            <div class="col-5">
              <h5 class="text-dark">Expect a fast response from the universe.</h5>
              <p class="text-muted">
                Because the whole universe focuses on answering the least recent questions, your question will be answered fast and in forseeable time.<br /><br />
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 px-0 py-5" id="supportedBoxPic">
        <!--img class="mt-auto mb-auto" src="img/app-promo/iphone-app-screenshot.png" alt="App Screenshot - Shards App Promo Demo Page"-->
      </div>
    </div>
  </div>
</div>



<div id="howToBox">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 px-0 py-5" id="howToBoxPic">
        <!--img class="mt-auto mb-auto" src="img/app-promo/iphone-app-screenshot.png" alt="App Screenshot - Shards App Promo Demo Page"-->
      </div>

      <!-- App Features Wrapper -->
      <div class=" col-lg-6 col-md-8 col-sm-12 py-5 mx-auto">
        <div class="container">
          <h1 class="text-center text-dark">How the universe decides.</h1>
          <h5 class="text-center text-dark">It is unpredictable.</h5>
          <br />
          <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-2">
              <i style="font-size:2.7em;color:#4587F3;" class="fas fa-dice"></i>
            </div>
            <div class="col-5">
              <h5 class="text-dark">Random connections</h5>
              <p class="text-muted">
                You will receive questions from anyone and have your questions answered by anyone.
              </p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-2">
              <i style="font-size:2.7em;color:#e66000;" class="fas fa-sync-alt"></i>
            </div>
            <div class="col-5">
              <h5 class="text-dark">Changing toll</h5>
              <p class="text-muted">
                The toll you have to pay to ask a question to the universe is constantly changing, dependng on how busy the universe is (how many open questions there currently are).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
