<div id="myFooter2">

  <div class="container">
    <br />
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <h5>Best Discord Level Bot</h5>
        <p><a target="_blank" href="https://activityrank.me">ActivityRank</a></p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3">
        <h5 class="text-uppercase">Support</h5>
        <ul class="list-unstyled">
          <li>
            <a target="_blank" href="<%= config.discordSupportServer %>">Discord Server</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase">Terms & Policies</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/termsAndConditions">Terms & Conditions</a>
          </li>
          <li>
            <a href="/privacyPolicy">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">© 2021
    <a href="https://oraclix.com/"> Oraclix </a>
  </div>
</div>
</div></body></html>
